$color-grey: grey;
$color-grey-darkest: darken($color-grey, 30%);
$color-grey-darker: darken($color-grey, 20%);
$color-grey-dark: darken($color-grey, 10%);
$color-grey-light: lighten($color-grey, 25%);
$color-grey-lighter: lighten($color-grey, 35%);
$color-grey-lightest: lighten($color-grey, 45%);