// Fonts
$font-family-base: 'Helvetica Neue', sans-serif, sans;
$line-height-base: 1.25;

$font-size-tiny: .75rem;
$font-size-small: .875rem;
$font-size-base: 1rem;
$font-size-big: 1.125rem;
$font-size-huge: 1.25rem;

// Borders
$border-radius: 2px;
$border-grey-light: 1px solid $color-grey-light;

// Shadow
$shadow-grey-light: 0px 0px 0px 1px $color-grey-light;

// Spaces
$space-tiny: 5px;
$space-small: 10px;
$space-base: 15px;
$space-big: 20px;
$space-huge: 25px;
