.u-display--flex {
    display: flex;
}

.u-flex-direction--column {
    flex-direction: column;
}

.u-flex-direction--row {
    flex-direction: row;
}

.u-flex-grow--1 {
    flex-grow: 1;
}

.u-flex-shrink--0 {
    flex-shrink: 0;
}

.u-flex-align-items--baseline {
    align-items: baseline;
}

.u-display--inline-block {
    display: inline-block;
}
