.u-font-size--tiny {
    font-size: $font-size-tiny;
}

.u-font-size--small {
    font-size: $font-size-small;
}

.u-font-size--base {
    font-size: $font-size-base;
}

.u-font-size--big {
    font-size: $font-size-big;
}

.u-font-size--huge {
    font-size: $font-size-huge;
}
